<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserTypeA</title
</head>
<body>
  
        <img src="image1.jpg" alt="image 1 to be displayed" id="image">
   
</body>
</html>
<style>
#image{
    height: 100vh;
    width: 100vw;
}
</style>