<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserTypeB</title
</head>
<body>
        <div id="container">
        <div style="position:relative">
        <img src="image1.jpg" alt="image 1 to be displayed" id="image1">
        <p id="text1">Image 1</p>
        </div>
        <div style="position:relative">
        <img src="image2.jpg" alt="image 2 to be displayed" id="image2">
        <p id="text2">Image 2</p>

    </div>
    </div>
</body>
</html>
<style>
    #container{
        display: flex;
    }
    #text1{
    position: absolute; 
    top:50px ;
    left:150px;
    font-size: 100px;
   color: aliceblue;

}
#text2{
    position: absolute; 
    top:50px ;
    left:150px;
    font-size: 100px;
   color: aliceblue;

}
#image1{
    height: 100vh;
    width: 50vw;
}
#image2{
    height: 100vh;
    width: 50vw;
}
</style>