<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UserTypeC</title>
</head>
<body>
        <div id="container" style="position: relative;">
            <div style="position: relative;">
        <img src="image2.jpg" alt="image 2 to be displayed" id="image2">
        <p id="text2">image 2</p>
        </div>
        <div style="position: relative;">
        <img src="image3.jpg" alt="image 3 to be displayed" id="image3">
        <p id="text3">image 3</p>
        </div>
    </div>
</body>
</html>
<style>
#text2{
    position: absolute; 
    top:50px ;
    left:150px;
    font-size: 100px;
   color: aliceblue;

}
#text3{
    position: absolute; 
    top:50px ;
    left:150px;
    font-size: 100px;
   color: aliceblue;

}
#image2{
    height: 50vh;
    width: 100vw;
}
#image3{
    height: 50vh;
    width: 100vw;
}
</style>